google-api-python-client
google-auth-httplib2
google-auth-oauthlib
librosa
mutagen
musicbrainzngs
numpy
pydub
pyacoustid
python-dotenv
requests
shazamio
soundfile
spotipy
streamlit
customtkinter>=5.2,<6
tkcalendar>=1.6.1,<2
tqdm
ytmusicapi
yt-dlp
